{% extends 'base.html' %} {% block body %}
<div class="container" style="margin-top: 30px;">
    {% for i in event %}

    <h3 class="text-center">{{i.institute.name}}
        <hr>
    </h3>


    <div class="row">
        <div class="col-sm">
            <p class="text-center">Department: {{i.institute.dept}}</p>
        </div>
        <div class="col-sm">
            <p class="text-center">Session: {{i.institute.session}}</p>
        </div>
    </div>
    <div style="display:flex;justify-content:center; min-width:400px;min-height:300px;border:1px solid darkgrey;">
        <div style="margin: 20px;">
            {{i.event|safe}}
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}